[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = BPF & XDP for containers
[access "refs/*"]
	owner = group user/André Martins (aanm)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/André Martins (aanm)
	label-Verified = -1..+1 group user/André Martins (aanm)
	push = group user/André Martins (aanm)
	read = group user/André Martins (aanm)
	rebase = group user/André Martins (aanm)
	removeReviewer = group user/André Martins (aanm)
	submit = group user/André Martins (aanm)
[access "refs/heads/*"]
	create = group user/André Martins (aanm)
	push = +force group user/André Martins (aanm)
	pushMerge = group user/André Martins (aanm)
	read = group user/André Martins (aanm)
[access "refs/tags/*"]
	push = group user/André Martins (aanm)
	push = +force group user/André Martins (aanm)
